package responses

import "{{ .PackageName }}/internal/models"

// {{ .Name.Plural.Title }} ... {{ .Description }}
type {{ .Name.Plural.Title }} struct {
    Count int64 `json:"count"`
	{{.ObjectPluralName}} []{{.ObjectName}} `json:"{{.Name}}"`
}

// New{{ .Name.Plural.Title }} ... Create new {{ .Name.Plural.Title }} response
func New{{ .Name.Plural.Title }}(models *[]models.{{ .Name.Singular.Title }}, count int64) *{{ .Name.Plural.Title }} {
    slice := []{{ .Name.Singular.Title }}{}
    for _, model := range *models {
        slice = append(slice, *New{{ .Name.Singular.Title }}(&model))
    }
	response := &{{ .Name.Plural.Title }}{
	    Count: count,
	    {{ .Name.Plural.Title }}: slice,
	}
	return response
}
