package responses

import "{{ .PackageName }}/internal/models"

// {{ .Name.Singular.Title }} ... {{ .Description }}
type {{ .Name.Singular.Title }} struct {
{{- range .Columns }}
{{ if .APIReturnable }}    {{.ObjectName}} {{.APIObjectType}} `json:"{{.Name}}"`{{ end -}}
{{ end }}
    CreatedAt int64 `json:"created_at"`
    UpdatedAt int64 `json:"updated_at"`
}

// New{{ .Name.Singular.Title }} ... Create new {{ .Name.Singular.Title }} response
func New{{ .Name.Singular.Title }}(model models.{{ .Name.Singular.Title }}) *{{ .Name.Singular.Title }} {
	response := &{{ .Name.Singular.Title }}{
{{- range .Columns }}
{{ if .APIReturnable }}		{{.ObjectName}}: model.{{.ObjectName}},{{ end -}}
{{ end }}
		CreatedAt: model.CreatedAt.Unix(),
        UpdatedAt: model.UpdatedAt.Unix(),
	}
	return response
}
