package handlers

import (
	"github.com/gin-gonic/gin"
	"{{ .PackageName }}/config"
	"gorm.io/gorm"
)

// HandlerInterface ...
type HandlerInterface interface {
	HealthzHandler(c *gin.Context)
}

// Handler ...
type Handler struct {
	db     *gorm.DB
	config *config.Config
{{- range .Entities}}
    {{ .CamelName }}Repository repositories.{{ .ObjectName }}RepositoryInterface
{{- end }}
}

// NewHandler ...
func NewHandler(
	db *gorm.DB,
	config *config.Config,
{{- range .Entities}}
    {{ .CamelName }}Repository {{ .ObjectName }}RepositoryInterface,
{{- end }}
) HandlerInterface {
	return &Handler{
		db:     db,
		config: config,
{{- range .Entities}}
		{{ .CamelName }}Repository: {{ .CamelName }}Repository,
{{- end }}
	}
}
