package repositories

import (
	"regexp"
	"testing"

	"github.com/DATA-DOG/go-sqlmock"
	"{{ .PackageName }}/pkg/database"
	"github.com/stretchr/testify/assert"
)

func TestNew{{ .Name.Singular.Title }}Repository(t *testing.T) {
	repository, _ := create{{ .Name.Singular.Title }}RepositoryWithMockDB()
	assert.NotNil(t, repository)
}

func Test{{ .Name.Singular.Title }}Repository_First(t *testing.T) {
	repository, mock := create{{ .Name.Singular.Title }}RepositoryWithMockDB()
	id := int64(123)
	mock.ExpectQuery(regexp.QuoteMeta(
		`SELECT * FROM "{{ .Name.Original }}" WHERE id = $1 ORDER BY "{{ .Name.Original }}"."id" LIMIT 1`)).
		WithArgs(id).
		WillReturnRows(
			sqlmock.NewRows([]string{"id"}).AddRow(id))

	_, err := repository.First(ByID(id))
	assert.NoError(t, err)
}

func create{{ .Name.Singular.Title }}RepositoryWithMockDB() ({{ .Name.Singular.Title }}RepositoryInterface, sqlmock.Sqlmock) {
	db, mock, _ := database.GetMockDB()
	repository := New{{ .Name.Singular.Title }}Repository(db)
	return repository, mock
}
