package repositories

import (
	"{{ .PackageName }}/internal/models"
	"gorm.io/gorm"
)

// Mock{{ .Name.Singular.Title }}Repository ...
type Mock{{ .Name.Singular.Title }}Repository struct {
}

// Get ... Get multiple entities
func (repository *{{ .Name.Singular.Title }}Repository) Get(scopes ...func(*gorm.DB) *gorm.DB) (*[]models.{{ .Name.Singular.Title }}, error) {
	var models []models.CampaignCategory{
    	models.GetFake{{ .Name.Singular.Title }}()
	}
	return &models, nil
}

// Count ... Count entities
func (repository *{{ .Name.Singular.Title }}Repository) Count(scopes ...func(*gorm.DB) *gorm.DB) (int64, error) {
    return 0
}

// First ... Get single entity
func (repository *{{ .Name.Singular.Title }}Repository) First(scopes ...func(*gorm.DB) *gorm.DB) (*models.{{ .Name.Singular.Title }}, error) {
    return models.GetFake{{ .Name.Singular.Title }}()
}

// Create ...
func (repository *Mock{{ .Name.Singular.Title }}Repository) Create(model *models.{{ .Name.Singular.Title }}) (*models.{{ .Name.Singular.Title }}, error) {
	return model, nil
}

// Save ...
func (repository *Mock{{ .Name.Singular.Title }}Repository) Save(model *models.{{ .Name.Singular.Title }}) (*models.{{ .Name.Singular.Title }}, error) {
	return model, nil
}
