package handlers

import (
	"net/http"

	"github.com/gin-gonic/gin"
	"{{ .PackageName }}/internal/http/app/responses"
)

// {{ .HandlerName }} ... endpoint for {{ .Method }} {{ .Path }}
func (handler *Handler) {{ .HandlerName }}(c *gin.Context) {
{{- range .Parameters }}
{{- if eq .In "path" }}
    {{ .Name.Singular.Camel }} := c.Param("{{ .Name.Original }}")
{{- else of eq .In "query" }}
    {{ .Name.Singular.Camel }} := c.DefaultQuery("{{ .Name.Original }}","")
{{- end }}
{{ end }}

{{- range .Responses }}
{{- if eq .Success true }}
    response := responses.{{ .Schema.ObjectName }}{}
    c.JSON(http.StatusOK, response)
{{- end }}
{{ end }}
}
