package handlers

import (
	"net/http"

	"github.com/gin-gonic/gin"
{{- if ne .RequestSchemaName.Original "" }}
	"{{ .PackageName }}/internal/http/app/requests"
{{- end }}
	"{{ .PackageName }}/internal/http/app/responses"
)

// {{ .HandlerName }} ... endpoint for {{ .Method }} {{ .Path }}
func (handler *Handler) {{ .HandlerName }}(c *gin.Context) {
{{- range .Parameters }}
{{- if eq .In "path" }}
    _ = c.Param("{{ .Name.Original }}")
{{- else if eq .In "query" }}
    _ = c.DefaultQuery("{{ .Name.Original }}","")
{{- end }}
{{ end }}
{{- if ne .RequestSchemaName.Original "" }}
	var update requests.{{ .RequestSchemaName.Default.Title }}
	if err := c.ShouldBindJSON(&update); err != nil {
		c.JSON(http.StatusInternalServerError, responses.NewInvalidParameterErrorStatus(err))
		return
	}
{{ end }}

{{- range .Responses -}}
{{- if eq .Success true }}
    response := responses.{{ .Schema.ObjectName }}{}
    c.JSON(http.StatusOK, response)
{{- end -}}
{{- end }}
}
