package requests

// {{ .RequestObjectName }} ... {{ .Description }}
type {{ .RequestObjectName }} struct {
{{range .Parameters -}}
	{{.ObjectName}}  {{.Type}} `json:"{{.Name}}"{{if .IsRequired}} binding:"required"{{end}}`
{{end -}}
}
