package responses

// {{ .ObjectName }} ... {{ .Description }}
type {{ .ObjectName }} struct {
{{- range .Properties}}
	{{.ObjectName}} {{if eq .Required false }}*{{end}}{{.ObjectType}} `json:"{{.Name}}"`
{{- end }}
}

// New{{ .ObjectName }} ... Create new {{ .ObjectName }} response
func New{{ .ObjectName }}() *{{ .ObjectName }} {
	response := &{{ .ObjectName }}{
	}
	return response
}
