	{{ .RouteNameSpace }}Router := app.Group("{{ .BasePath }}")
	{{ .RouteNameSpace }}Router.Use(requestHeaderMiddleware)
{{- range .Request}}
    {{ .RouteNameSpace }}Router.{{ .Method }}("{{ .PathFrameworkPresentation }}", handler.{{ .HandlerName }})
{{- end -}}
